name: npm publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: publish to npm registry
        run: |
          npm install
          npm publish
 #          npm run build --if-presen
#          npm test
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          CI: true
